[submodule "libraries/analogComp"]
	path = libraries/analogComp
	url = https://github.com/leomil72/analogComp.git
[submodule "libraries/Low-Power"]
	path = libraries/LowPower
	url = https://github.com/rocketscream/Low-Power.git
[submodule "libraries/jeelib"]
	path = libraries/jeelib
	url = https://github.com/jcw/jeelib.git
[submodule "libraries/VirtualWire"]
	path = libraries/VirtualWire
	url = git@github.com:kevinprince/VirtualWire.git
[submodule "libraries/ArduinoAES256"]
	path = libraries/ArduinoAES256
	url = https://github.com/qistoph/ArduinoAES256.git
