[submodule "libraries/Low-Power"]
	path = libraries/LowPower
	url = https://github.com/rocketscream/Low-Power.git
[submodule "libraries/jeelib"]
	path = libraries/jeelib
	url = https://github.com/pakozm/jeelib.git
